k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'home-patricie-0'
   storageMountPath = '/home/user'
   homeDir = '/home/user/Delly_somatic'
   launchDir = '/home/user/Delly_somatic/launch'
   projectDir = '/home/user/Delly_somatic/project'
   workDir = '/home/user/Delly_somatic/temp'
   pod = [ [volumeClaim: 'pvc-medgen-plevova', mountPath: "/storage" ]]
}

params {
   ref = "/storage/shared_resources/homo_sapiens/GRCh38/seq/GRCh38.fa"
   ref_bwa = "/storage/shared_resources/homo_sapiens/GRCh38/tool_data/BWA/GRCh38"
   reg = "/storage/shared_resources/homo_sapiens/GRCh38/annot/human.hg38.excl.tsv"
   test1 = "/home/user/Delly_somatic/test_bams/*"
   pubdir = "/home/user/Delly_somatic/results"
   samples = "/home/user/Delly_somatic/samples.tsv"
   script = "/home/user/Delly_somatic/combine_variants.py"
   map = "/home/user/Delly_somatic/Homo_sapiens.GRCh38.dna.primary_assembly.fa.r101.s501.blacklist"
   Rscript = "/home/user/Delly_somatic/rd_modified.R"
   projectDirectory = "${k8s.projectDir}/Patricie34/Delly_somatic"

}



process {
   shell = ['/bin/bash', '-euo', 'pipefail']
   scratch = true
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
   errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
   maxRetries = 3
   cpus = 1
   memory = '1GB'
   
 withLabel: xxs_mem {
      memory = {100.MB * task.attempt * (3/4)}
   }
   withLabel: xs_mem {
      memory = {500.MB * task.attempt * (3/4)}
   }
   withLabel: s_mem {
      memory = {4.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {16.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = 40.GB
   }     
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 2
   }
   withLabel: l_cpu {
      cpus = 8
   }
}

executor {
   queueSize = 20
}

