k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'home-patricie-0'
   storageMountPath = '/home/user'
   homeDir = '/home/user/Delly_somatic'
   launchDir = '/home/user/Delly_somatic/launch'
   projectDir = '/home/user/Delly_somatic/project'
   workDir = '/home/user/Delly_somatic/temp'
   pod = [ [volumeClaim: 'pvc-medgen-plevova', mountPath: "/storage" ]]
}

params {
   ref = "/storage/shared_resources/homo_sapiens/GRCh38/seq/GRCh38.fa"
   ref_bwa = "/storage/shared_resources/homo_sapiens/GRCh38/tool_data/BWA/GRCh38"
   reg = "/storage/shared_resources/homo_sapiens/GRCh38/annot/human.hg38.excl.tsv"
   test1 = "/home/user/Delly_somatic/test_bams/*"
   pubdir = "/home/user/Delly_somatic/results"
   samples = "/home/user/Delly_somatic/samples.tsv"
   script = "/home/user/Delly_somatic/combine_variants.py"
   map = "/home/user/Delly_somatic/GrCh38.nonMappable.repeatsTrf.bed"
}



process {
   shell = ['/bin/bash', '-euo', 'pipefail']
   scratch = true
   executor = 'k8s'
   cpus = 1
   memory = '1GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

